<!--
    has a homepage that shows all tickets, arranged in separate columns
    according to current ticket status
    (i.e. New, In Progress, Done, Invalid)
    allows filing/creating tickets -> link to form
-->
<header>
  <a href="{% url 'new_ticket' %}">Submit a new ticket</a>
  <a href="{% url 'logout' %}">Logout</a>
</header>
<h1>Bug Tracking</h1>
<h4>
  Hello, {{request.user.username}}
  <br />
  We have some work to do!
</h4>

<h3>New Tickets</h3>
{% for ticket in tickets %} {% if ticket.status == 'New' %}
<h5>
  <a href="{% url 'ticket_detail' id=ticket.id %}"
    >{{ticket.id}} - {{ticket.title}}</a
  >
</h5>
<p>{{ticket.description}}</p>
<p>
  Submitted by:
  <a href="{% url 'user_detail' id=ticket.creator_id %}">{{ticket.creator}}</a>
</p>
{% endif %} {% endfor %}
<h3>In Progress</h3>
{% for ticket in tickets %} {% if ticket.status == 'In Progress' %}
<h5>
  <a href="{% url 'ticket_detail' id=ticket.id %}"
    >{{ticket.id}} - {{ticket.title}}</a
  >
</h5>
<p>{{ticket.description}}</p>
<p>
  <a href="{% url 'user_detail' id=ticket.assigned_to_id %}"
    >{{ticket.assigned_to}}</a
  >
  is working on this ticket.
</p>
{% endif %} {% endfor %}
<h3>Completed</h3>
{% for ticket in tickets %} {% if ticket.status == 'Done' %}
<h5>
  <a href="{% url 'ticket_detail' id=ticket.id %}"
    >{{ticket.id}} - {{ticket.title}}</a
  >
</h5>
<p>{{ticket.description}}</p>
<p>
  <a href="{% url 'user_detail' id=ticket.completed_by_id %}"
    >{{ticket.completed_by}}</a
  >
  has completed this ticket.
</p>
{% endif %}{% endfor %}
<h3>Invalid</h3>
{% for ticket in tickets %} {% if ticket.status == 'Invalid'%}
<h5>
  <a href="{% url 'ticket_detail' id=ticket.id %}"
    >{{ticket.id}} - {{ticket.title}}</a
  >
</h5>
{%endif%}{%endfor%}
