
<header>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'logout' %}">Logout</a>
</header>
<h1>{{user.username}}</h1>

<h3>Tickets {{user.username}} is currently working on:</h3>
{% for ticket in  assigned %}
{% if not ticket.completed_by %}
<a href="{% url 'ticket_detail' pk=ticket.pk %}"
>{{ticket.id}} - {{ticket.title}}</a
>
</p>
{% endif %}
{% endfor%}

<h3>Tickets filed by {{user.username}}:</h3>
{% for ticket in submitted %}
<p>
  <a href="{% url 'ticket_detail' pk=ticket.pk %}"
    >{{ticket.id}} - {{ticket.title}}</a
  >
</p>
<p>{{ticket.description}}</p>
<p>Filed on: {{ticket.time_filed}}</p>
{% endfor %}
<h3>Tickets {{user.username}} has completed:</h3>
{% for ticket in completed %}
<a href="{% url 'ticket_detail' pk=ticket.pk %}"
>{{ticket.id}} - {{ticket.title}}</a
>
</p>
{% endfor%}
